$grid-configurations: (
  "xs": (container-width: 0, columns: 4, gap: 16px, margin: 16px),
  "sm": (container-width: 600px, columns: 8, gap: 16px, margin: 32px),
  "md": (container-width: 905px, columns: 12, gap: 12px, margin: 32px),
  "mg": (container-width: 1240px, columns: 12, gap: 24px, margin: 48px),
  "lg": (container-width: 1440px, columns: 12, gap: 24px, margin: 48px),
  "xl": (container-width: 1920px, columns: 12, gap: 24px, margin: 48px)
);

@mixin generate-grid($container-width, $columns, $gap, $margin) {
  display: grid;
  grid-template-columns: repeat(#{$columns}, 1fr);
  gap: $gap;
  margin: 0 $margin;
}

@mixin apply-grid($breakpoint) {
  @media screen and (min-width: map-get($breakpoints, $breakpoint)) {
    @include generate-grid(map-get($grid-configurations, $breakpoint)...);
  }
}

.grid-container {

  @include apply-grid("xs");
  @include apply-grid("sm");
  @include apply-grid("md");
  @include apply-grid("mg");
  @include apply-grid("lg");
  @include apply-grid("xl");

  .col {

    @for $i from 1 through 12 {
      &.col-span-#{$i} {
        grid-column-end: span #{$i};
      }
    }

    @for $i from 1 through 12 {
      &.col-start-#{$i} {
        grid-column-start: #{$i};
      }
    }

    @each $breakpoint, $config in $grid-configurations {
      $columns: map-get($config, "columns");
      $gap: map-get($config, "gap");
      $margin: map-get($config, "margin");

      &.col-extra-width {
        @media screen and (min-width: map-get($breakpoints, $breakpoint)) {
          margin-right: -#{$gap};
          width: calc(100% + #{$gap});
        }
      }

      &.col-extra-start {
        @media screen and (min-width: map-get($breakpoints, $breakpoint)) {
          margin-left: calc(-1 * #{$gap});
        }
      }

      &.col-extra-margin {
        @media screen and (min-width: map-get($breakpoints, $breakpoint)) {
          margin-left: calc(-1 * #{$margin});
        }
      }
    }
  }

}

@each $breakpoint, $config in $grid-configurations {
  $columns: map-get($config, "columns");
  $gap: map-get($config, "gap");
  $margin: map-get($config, "margin");
  $container-width: map-get($config, "container-width");

  .column-width {
    @media screen and (min-width: map-get($breakpoints, $breakpoint)) {
      width: ($container-width - ($margin * 2) - ($gap * ($columns - 1))) / $columns;
    }
  }

  .gap {
    @media screen and (min-width: map-get($breakpoints, $breakpoint)) {
      margin-left: $gap;
    }
  }

  .margin {
    @media screen and (min-width: map-get($breakpoints, $breakpoint)) {
      margin-left: $margin;
    }
  }
  
}
