// base & variables
@import 'base/type';
@import 'base/variables';
@import 'base/base';

// layout
@import 'layout/breakpoints';
@import 'layout/grid';

// colors
@import url(./tokens/tokens.css);
@import url(./tokens/theme.light.css) (prefers-color-scheme: light);
@import url(./tokens/theme.dark.css) (prefers-color-scheme: dark);
@import 'themes/colors';

// components
// @import 'components/navbar';
@import 'components/navrail';
// @import 'components/card';
// @import 'components/avatar';
// @import 'components/list';
@import 'components/button';
// @import 'components/modal';
// @import 'components/toast';
// @import 'components/forms';

// utilities
@import 'base/utilities';
@import 'layout/utility-layout';

// changes & additions
.container {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 56px 0;
    overflow: hidden;
}

.rail {
    background-color: var(--md-sys-color-primary-container);
    .rail-content {
        .destination-item {
            .indicator {
                .icon {
                    color: var(--md-sys-color-on-surface);
                }
            }
            .label {
                color: var(--md-sys-color-on-surface);
                font-weight: $bold-fw;
            }
        }
        .destination-active {
            .indicator {
                background-color: var(--md-sys-color-on-primary-container);
                .icon {
                    color: #fff;
                }
            }
            .label {
                color: var(--md-sys-color-on-primary-container);
                font-weight: $bold-fw;
            }
            &:hover {
                .indicator {
                    background-color: color-mix(in srgb, var(--md-sys-color-on-primary-container), #fff 8%);
                }
            }
            &:active {
                .indicator {
                    background-color: color-mix(in srgb, var(--md-sys-color-on-primary-container), #fff 12%);
                }
            }
        }
    }
}

.scene {
    position: relative;
    width: 100%;
    height: 100%;
    margin-right: 48px;
    background-color: var(--md-sys-color-surface);
    z-index: 1;
}

.scenario {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: ($base-padding * 12) 0;
    border-radius: 0 $large-border-radius $large-border-radius 0;
    background-color: var(--md-ref-palette-primary95);
}

.socials {
    padding-top: $base-padding * 12;
    & > *:not(:first-child) {
        margin-left: $base-padding * 3;
    }
}

.context {
    display: inline-block;
    position: relative;
    width: 100px;
    height: 510px;
    overflow: hidden;
    background-color: var(--md-sys-color-on-primary-dark);
    .context-text {
        position: absolute;
        left: 70%;
        bottom: 0;
        transform: translate(0, 0) rotate(-90deg);
        transform-origin: left bottom;
        white-space: nowrap;
        font-family: "Product Sans Black", sans-serif;
        font-size: 133.31px;
        letter-spacing: -6px;
        font-weight: $bold-fw;
        color: var(--md-sys-color-on-primary);
    }
}
