@use "sass:math";

// base & variables
@import 'base/type';
@import 'base/variables';
@import 'base/base';

// layout
@import 'layout/breakpoints';
@import 'layout/grid';

// colors
@import url(./tokens/tokens.css);
@import url(./tokens/theme.light.css);
// @import url(./tokens/theme.dark.css) (prefers-color-scheme: dark);
@import 'themes/colors';

// components
@import 'components/navrail';
@import 'components/button';
@import 'components/iconbtn';

// utilities
@import 'base/utilities';
// @import 'layout/utility-layout';

// changes & additions
.container {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 56px 0;
    overflow: hidden;
}

.rail {
    background-color: var(--md-sys-color-primary-container);
    .rail-content {
        .destination-item {
            .indicator {
                .icon {
                    color: var(--md-sys-color-on-surface);
                }
            }
            .label {
                color: var(--md-sys-color-on-surface);
                font-weight: $bold-fw;
            }
        }
        .destination-active {
            .indicator {
                background-color: var(--md-sys-color-on-primary-container);
                .icon {
                    color: #fff;
                }
            }
            .label {
                color: var(--md-sys-color-on-primary-container);
                font-weight: $bold-fw;
            }
            &:hover {
                .indicator {
                    background-color: color-mix(in srgb, var(--md-sys-color-on-primary-container), #fff 8%);
                }
            }
            &:active {
                .indicator {
                    background-color: color-mix(in srgb, var(--md-sys-color-on-primary-container), #fff 12%);
                }
            }
        }
    }
}

.scenario {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: ($base-padding * 12) 0;
    border-radius: 0 $large-border-radius $large-border-radius 0;
    background-color: var(--md-ref-palette-primary95);
}

.socials {
    display: flex;
    gap: $base-padding * 3;
    margin-top: $base-margin * 12;
}

.context {
    display: inline-block;
    position: relative;
    width: 100px;
    height: 510px;
    background-color: var(--md-sys-color-on-primary-fixed-variant);
    .context-text {
        position: absolute;
        left: 65%;
        bottom: 0;
        transform: translate(0, 0) rotate(-90deg);
        transform-origin: left bottom;
        white-space: nowrap;
        font-size: 131px;
        letter-spacing: -6px;
        font-weight: $black-fw;
        color: var(--md-sys-color-background);
    }
}

@each $breakpoint, $config in $grid-configurations {
    $columns: map-get($config, "columns");
    $gap: map-get($config, "gap");
    $margin: map-get($config, "margin");
    $container-width: map-get($config, "container-width");

    $col: math.div((($container-width - 72px) - ($margin * 2) - ($gap * ($columns - 1))), $columns);

    @media screen and (min-width: map-get($breakpoints, $breakpoint)) {
        .scene {
            position: relative;
            width: 100%;
            height: 100%;
            padding-left: $margin;
            border-radius: $x-large-border-radius;
            background-color: var(--md-sys-color-surface);
            z-index: 1;
        }

        // index page

        .index-headline {
            width: $col * 5 + $gap * 4;
            font-size: 65px;
            font-weight: $black-fw;
            text-transform: uppercase;
            letter-spacing: 3.25px;
            line-height: 1.2;
            color: var(--md-sys-color-on-surface);
        }

        .index-detail {
            width: $col * 2 + $gap * 2;
            font-size: $type-label-medium;
            font-weight: $bold-fw;  
            line-height: normal;
            letter-spacing: $letter-spacing;
            color: var(--md-sys-color-on-surface-variant);
        }

        .index-thumbnail {
            position: relative;
            width: $col * 4 + $gap * 4;
            height: 100%;
            border-radius: $x-large-border-radius;
            background-color: var(--md-ref-palette-primary95);
            overflow: hidden;
            .thumbnail {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            .index-btn {
                position: absolute;
                left: $base-padding * 6;
                bottom: $base-padding * 12;
                z-index: 2;
                .filled-iconbtn {
                    background-color: var(--md-sys-color-primary-container);
                    .icon {
                        color: var(--md-sys-color-on-primary-container);
                    }
                    &:hover {
                        background-color: var(--md-ref-palette-primary95);
                        .icon {
                            color: var(--md-sys-color-on-primary-container);
                        }
                    }
                    &:active {
                        background-color: var(--md-ref-palette-primary98);
                        .icon {
                            color: var(--md-sys-color-on-primary-container);
                        }
                    }
                }
            }
        }

        // wok page

        .work-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;
            height: 100%;
            padding: 0 $col;
            & > *:not(:first-child) {
                margin-top: $base-margin * 22;
            }
            .work-row {
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                .element-1 {
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    img {
                        width: $col + $gap * 2;
                    }
                    .filled-iconbtn {
                        margin-left: -$gap;
                    }
                    .element-1-column {
                        display: flex;
                        justify-content: center;
                        width: $col + $gap *2;
                    }
                }
                .element-2 {
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-between;
                    height: 100%;
                    .definition-1 {
                        position: relative;
                        width: $col * 6 + $gap * 6;
                        display: flex;
                        align-items: flex-start;
                        font-size: $type-display-medium;
                        font-weight: $black-fw;
                        img {
                            position: absolute;
                            width: $col * 6 + $gap * 6;
                            z-index: -1;
                        }
                        .filled-iconbtn {
                            position: absolute;
                            right: 0;
                            margin: $base-margin * 4 $gap;
                        }
                        p {
                            font-size: $base-width * 10;
                            width: $base-width * 146;
                            margin-right: $base-width * -146;
                            letter-spacing: 2px;
                            line-height: normal;
                            text-transform: uppercase;
                            color: var(--md-sys-color-on-primary-container);

                        }
                    }
                    .definition-2 {
                        width: $col * 4 + $gap * 4;
                        padding: $base-padding * 5 $base-padding * 26;
                        border-radius: $full-border-radius;
                        background-color: var(--md-sys-color-secondary-container);
                        p {
                            font-size: $type-title-medium;
                            font-weight: $bold-fw;
                            line-height: normal;
                            text-align: center;
                            color: var(--md-sys-color-on-secondary-container);
                        }
                    }
                }
                .element-3 {
                    position: relative;
                    display: flex;
                    img {
                        width: $col * 3 + $gap * 3;
                    }
                    .filled-iconbtn {
                        margin-left: $gap * -2;
                    }
                }
                .element-4 {
                    position: relative;
                    display: flex;
                    align-items: flex-end;
                    img {
                        width: $col * 3 + $gap * 3;
                        z-index: -1;
                    }
                    .filled-iconbtn {
                        margin-right: $gap * -2;
                    }
                }

                .filled-iconbtn {
                    width: $base-width * 17;
                    height: $base-height * 17;
                    .icon {
                        width: $type-display-small !important;
                        height: $type-display-small !important;
                        font-size: $type-display-small !important;
                    }
                }
            }
        }

        // human page

        .human-container {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            .basics {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                padding-right: $col;
                .brand {
                    font-size: 103px;
                    font-weight: $black-fw;
                    line-height: normal;
                    letter-spacing: 5.15px;
                    text-transform: uppercase;
                    color: var(--md-sys-color-on-surface);
                }
                .tagline {
                    font-size: 91px;
                    font-weight: $black-fw;
                    line-height: normal;
                    letter-spacing: 4.55px;
                    text-transform: uppercase;
                    color: var(--md-sys-color-on-surface-variant);
                }
            }
            .work-around {
                display: flex;
                flex-direction: column;
                width: $col * 8 + $gap * 7;
                margin-left: -($col + $gap);
                p {
                    width: $col * 4 + $gap * 3;
                    padding: $base-padding * 5 $base-padding * 30 $base-padding * 5 $base-padding * 60;
                    font-size: $type-title-medium;
                    font-weight: $medium-fw;
                    line-height: normal;
                    letter-spacing: $letter-spacing;
                    text-align: end;
                    border-radius: $full-border-radius;
                    background-color: var(--md-sys-color-primary-container);
                    color: var(--md-sys-color-on-primary-container);
                    margin-bottom: $base-margin * -10;
                }
                img {
                    width: $col * 8 + $gap * 7;
                    z-index: -1;
                }
                .filled-iconbtn {
                    width: $base-width * 17;
                    height: $base-height * 17;
                    margin-left: auto;
                    margin-right: $col;
                    margin-top: $base-margin * -8.5;
                    background-color: var(--md-sys-color-primary-container);
                    .icon {
                        width: $type-display-small !important;
                        height: $type-display-small !important;
                        font-size: $type-display-small !important;
                        color: var(--md-sys-color-on-primary-container);
                    }
                    &:hover {
                        background-color: var(--md-ref-palette-primary95);
                        .icon {
                            color: var(--md-sys-color-on-primary-container);
                        }
                    }
                    &:active {
                        background-color: var(--md-ref-palette-primary98);
                        .icon {
                            color: var(--md-sys-color-on-primary-container);
                        }
                    }
                }
            }
            .redirect {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 6px;
                width: 100%;
                p {
                    font-size: $type-title-large;
                    line-height: 20px;
                    letter-spacing: 0.1px;
                    color: var(--md-sys-color-on-surface-variant);
                }
                div {
                    display: flex;
                    align-items: center;
                    gap: $base-padding * 3;
                }
                .filled-iconbtn {
                    width: $base-width * 5;
                    height: $base-height * 5;
                    background-color: var(--md-sys-color-primary-container);
                    .icon {
                        width: $type-body-small !important;
                        height: $type-body-small !important;
                        font-size: $type-body-small !important;
                        color: var(--md-sys-color-on-primary-container);
                    }
                    &:hover {
                        background-color: var(--md-ref-palette-primary95);
                        .icon {
                            color: var(--md-sys-color-on-primary-container);
                        }
                    }
                    &:active {
                        background-color: var(--md-ref-palette-primary98);
                        .icon {
                            color: var(--md-sys-color-on-primary-container);
                        }
                    }
                }
            }
        }

        // contact page

        .contact-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: $base-padding * 22;
            width: 100%;
            height: 100%;
            padding: $base-padding * 15 0;
            text-transform: uppercase;
            .basics {
                padding-left: $col;
                h1 {
                    display: inline-block;
                    width: $col * 4 + $gap * 5;
                    height: $base-height * 28;
                    font-size: 116px;
                    line-height: normal;
                    letter-spacing: 5.8px;
                    color: var(--md-sys-color-background);
                    background-color: var(--md-sys-color-on-primary-fixed-variant);
                }
                .subtitle {
                    margin-top: $base-margin * 7;
                    span {
                        display: table;
                        height: $base-height * 6;
                        margin-bottom: 4px;
                        font-size: $type-title-large;
                        line-height: normal;
                        letter-spacing: 1.1px;
                        font-weight: $black-fw;
                        color: var(--md-sys-color-on-primary-container);
                        background: var(--md-sys-color-primary-container);
                    }
                }
            }
            .contact-form {
                display: flex;
                flex-direction: column;
                gap: $base-padding * 22;
                padding-left: $col;
                form {
                    display: flex;
                    flex-direction: column;
                    gap: $base-padding * 22;
                    span {
                        font-size: 81px;
                        line-height: normal;
                        letter-spacing: 4.162px;
                        font-weight: $black-fw;
                        color: var(--md-sys-color-on-surface);
                    }
                    .input-container {
                        position: relative;
                        width: $base-width * 105;
                        overflow: hidden;
                        input {
                            width: 100%;
                            height: 100%;
                            border: none;
                            font-size: 64px;
                            color: var(--md-sys-color-on-surface);
                            background: none;
                            &:focus {
                                outline: none;
                                & + label::after {
                                    transform: translateX(0%);
                                }
                            }
                            &:valid {
                                & + label::after {
                                    transform: translateX(0%);
                                }
                            }
                        }
                        label {
                            position: absolute;
                            bottom: 20px;
                            left: 0px;
                            width: 100%;
                            height: 100%;
                            pointer-events: none;
                            border-bottom: 3px solid var(--md-sys-color-on-surface);
                            &::after {
                                content: "";
                                position: absolute;
                                bottom: 0px;
                                left: 0px;
                                width: 100%;
                                height: 100%;
                                border-bottom: 3px solid var(--md-sys-color-on-primary-container);
                                transform: translateX(-100%);
                                transition: $easing;
                            }
                        }
                    }
                    .redirect {
                        width: 100%;
                        display: flex;
                        justify-content: end;
                        padding-right: $col + $gap;
                        .filled-iconbtn {
                            width: $base-width * 31;
                            height: $base-height * 31;
                            background-color: var(--md-sys-color-primary-container);
                            .icon {
                                width: $base-width * 16 !important;
                                font-size: $base-width * 16 !important;
                                color: var(--md-sys-color-on-primary-container);
                            }
                            &:hover {
                                background-color: var(--md-ref-palette-primary95);
                                .icon {
                                    color: var(--md-sys-color-on-primary-container);
                                }
                            }
                            &:active {
                                background-color: var(--md-ref-palette-primary98);
                                .icon {
                                    color: var(--md-sys-color-on-primary-container);
                                }
                            }
                        }
                    }
                }
            }

        }

    }
}
